Repository johnnymillergh/python-web-service-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
exclude: |
  (?x)^(
      .venv/|
      .sqlite3
  )$^
repos:
  # https://github.com/pre-commit/pre-commit-hooks/releases/tag/v6.0.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [ --fix, auto ]
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: name-tests-test
        args: [ --pytest-test-first ]
      - id: check-case-conflict
  - repo: local
    hooks:
      - id: poetry-check
        name: Poetry Check
        stages: [ pre-commit ]
        language: python
        entry: poetry check
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
      - id: ruff-check-fix
        name: Ruff Check and Fix
        stages: [ pre-commit ]
        language: system
        # Ruff checks and fixes Python code for both /src and /tests directories
        entry: poetry run ruff check
        types: [ python ]
        exclude: |
          (?x)^(
              ^.*/alembic/.*|
              alembic.ini
          )$
        args:
          - "--fix"
      - id: ruff-format
        name: Ruff Format
        stages: [ pre-commit ]
        language: system
        # Ruff checks and fixes Python code for both /src and /tests directories
        entry: poetry run ruff format
        types: [ python ]
        exclude: |
          (?x)^(
              ^.*/alembic/.*|
              alembic.ini
          )$
      - id: mypy
        name: mypy
        stages: [ pre-commit ]
        language: system
        entry: poetry run mypy
        types: [ python ]
        require_serial: true
      - id: pytest
        name: Pytest Unit Tests
        stages: [ pre-commit ]
        language: system
        # https://github.com/pytest-dev/pytest/issues/5502#issuecomment-1020761655
        # Prevent Pytest logging error like: ValueError: I/O operation on closed file.
        entry: env LOG_LEVEL=DEBUG poetry run pytest --cov --cov-report html --html=./build/.pytest_report/report.html --self-contained-html --log-cli-level=DEBUG -n auto --benchmark-disable
        types: [ python ]
        pass_filenames: false
      - id: pytest-cov
        name: Pytest with Coverage
        stages: [ pre-push ]
        language: system
        # https://github.com/pytest-dev/pytest/issues/5502#issuecomment-1020761655
        # Prevent Pytest logging error like: ValueError: I/O operation on closed file.
        entry: env LOG_LEVEL=ERROR poetry run pytest --cov --cov-fail-under=0 --capture=no --log-cli-level=ERROR -n auto
        types: [ python ]
        pass_filenames: false

build: update version to 1.0.0 (#5)
  .github/workflows/codeql.yml
  .github/workflows/init-project-ubuntu.yml
  .github/workflows/init-project-windows.yml
  .github/workflows/python-ci-with-poetry.yml
  README.md
  init_project.ps1
  init_project.sh
  pyproject.toml
Due: poetry-check

build: update version to 1.0.0
  .github/workflows/publish-docker.yml
Due: none

build: update Docker registry from GitHub Packages to GitHub Container Registry
  .github/workflows/publish-docker.yml
Due: none

build: update docker workflow (#7)
  .github/workflows/publish-docker.yml
Due: none

build: add permissions for package writing in Docker publish workflow
  .github/workflows/publish-docker.yml
Due: none

feat: integrate advanced-alchemy for database management
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/python_web_service_boilerplate/__main__.py
  src/python_web_service_boilerplate/alembic/env.py
  src/python_web_service_boilerplate/configuration/apscheduler.py
  src/python_web_service_boilerplate/configuration/database.py
  src/python_web_service_boilerplate/configuration/database_obsolete.py
  src/python_web_service_boilerplate/core/auth/models.py
  src/python_web_service_boilerplate/core/auth/repository.py
  src/python_web_service_boilerplate/core/auth/router.py
  src/python_web_service_boilerplate/core/auth/service.py
  src/python_web_service_boilerplate/core/common_models.py
  src/python_web_service_boilerplate/core/startup_log/repository.py
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: remove unnecessary dev group dependencies from poetry files
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor: integrate UserService for authentication and user management
  src/python_web_service_boilerplate/core/auth/middleware.py
  src/python_web_service_boilerplate/core/auth/router.py
  src/python_web_service_boilerplate/core/auth/service.py
  tests/conftest.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: [broken] update models and services to integrate advanced-alchemy for improved database management
  src/python_web_service_boilerplate/core/auth/models.py
  src/python_web_service_boilerplate/core/auth/service.py
  src/python_web_service_boilerplate/core/startup_log/models.py
  src/python_web_service_boilerplate/core/startup_log/repository.py
  src/python_web_service_boilerplate/core/startup_log/router.py
  src/python_web_service_boilerplate/core/startup_log/service.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: implement streaming for startup logs with advanced-alchemy integration
  src/python_web_service_boilerplate/core/auth/service.py
  src/python_web_service_boilerplate/core/startup_log/repository.py
  src/python_web_service_boilerplate/core/startup_log/router.py
  src/python_web_service_boilerplate/core/startup_log/service.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: remove obsolete configurations and dependencies
  poetry.lock
  pyproject.toml
  src/python_web_service_boilerplate/__main__.py
  src/python_web_service_boilerplate/alembic/env.py
  src/python_web_service_boilerplate/configuration/apscheduler.py
  src/python_web_service_boilerplate/configuration/database.py
  src/python_web_service_boilerplate/configuration/database_obsolete.py
  src/python_web_service_boilerplate/core/auth/repository.py
  src/python_web_service_boilerplate/core/startup_log/models.py
  src/python_web_service_boilerplate/core/startup_log/repository.py
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: add async client fixture for testing FastAPI endpoints
  tests/conftest.py
  tests/test_python_web_service_boilerplate/test_main.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

build: recover docker-compose.yml
  docker-compose.yml
Due: none

build: remove unused-import
  src/python_web_service_boilerplate/core/auth/models.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

build: startup log count
  src/python_web_service_boilerplate/core/startup_log/router.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: disable autocommit mode
  src/python_web_service_boilerplate/configuration/database.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: don't inject startup log service; so FastAPI doesn't manage database connections
  src/python_web_service_boilerplate/core/startup_log/router.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: try-except for testing
  tests/test_python_web_service_boilerplate/core/startup_log/test_router.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: disable pytest-xdist
  .github/workflows/python-ci-with-poetry.yml
Due: none

revert: "feat: add async client fixture for testing FastAPI endpoints"
  tests/conftest.py
  tests/test_python_web_service_boilerplate/test_main.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: enable pytest-xdist; remove FastAPI endpoint testing
  .github/workflows/python-ci-with-poetry.yml
  tests/test_python_web_service_boilerplate/core/__init__.py
  tests/test_python_web_service_boilerplate/core/auth/__init__.py
  tests/test_python_web_service_boilerplate/core/auth/test_router.py
  tests/test_python_web_service_boilerplate/core/startup_log/__init__.py
  tests/test_python_web_service_boilerplate/core/startup_log/test_router.py
  tests/test_python_web_service_boilerplate/test_main.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: add custom API documentation endpoint with Stoplight Elements
  src/python_web_service_boilerplate/__main__.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: integrate Pydantic settings for application configuration
  .gitignore
  poetry.lock
  pyproject.toml
  src/python_web_service_boilerplate/common/common_function.py
  src/python_web_service_boilerplate/configuration/application.py
  src/python_web_service_boilerplate/configuration/database.py
  src/python_web_service_boilerplate/configuration/loguru.py
  src/python_web_service_boilerplate/resources/.env
  src/python_web_service_boilerplate/resources/application.conf
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

build: update environment variable for FastAPI offline mode in CI workflow
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: update environment variables in docker-compose for database configuration
  docker-compose.yml
Due: none

refactor: prefer a delimiter unlikely to appear in normal names (e.g., '__')
  docker-compose.yml
  src/python_web_service_boilerplate/configuration/application.py
  src/python_web_service_boilerplate/resources/.env
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: integrate Pydantic settings for application configuration (#15)
  .github/workflows/python-ci-with-poetry.yml
  .gitignore
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/python_web_service_boilerplate/common/common_function.py
  src/python_web_service_boilerplate/configuration/application.py
  src/python_web_service_boilerplate/configuration/database.py
  src/python_web_service_boilerplate/configuration/loguru.py
  src/python_web_service_boilerplate/resources/.env
  src/python_web_service_boilerplate/resources/application.conf
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

build: update version to 1.0.1
  README.md
  pyproject.toml
Due: poetry-check

build: update version to 1.0.1 (#17)
  README.md
  pyproject.toml
Due: poetry-check

Release Version 1.0.1 (#16)
  .github/workflows/publish-docker.yml
  .github/workflows/python-ci-with-poetry.yml
  .gitignore
  README.md
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/python_web_service_boilerplate/common/common_function.py
  src/python_web_service_boilerplate/configuration/application.py
  src/python_web_service_boilerplate/configuration/database.py
  src/python_web_service_boilerplate/configuration/loguru.py
  src/python_web_service_boilerplate/resources/.env
  src/python_web_service_boilerplate/resources/application.conf
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: migrate from Poetry to uv for dependency management and update configuration
  .dockerignore
  .github/actions/project-environment-setup/action.yml
  .github/workflows/python-ci-with-uv.yml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  src/python_web_service_boilerplate/__main__.py
  src/python_web_service_boilerplate/configuration/application.py
  src/python_web_service_boilerplate/core/auth/service.py
  uv.lock
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

build: update GitHub Action to use astral-sh/setup-uv for dependency management
  .github/actions/project-environment-setup/action.yml
Due: none

build: update GitHub Action
  .github/actions/project-environment-setup/action.yml
Due: none

build: add step to install dependencies with uv in GitHub Action
  .github/actions/project-environment-setup/action.yml
Due: none

build: update python-ci-with-uv.yml
  .github/workflows/python-ci-with-uv.yml
Due: none

refactor: delete benchmark test case
  tests/test_python_web_service_boilerplate/common/test_common_function.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

revert: refactor: delete benchmark test case
  tests/test_python_web_service_boilerplate/common/test_common_function.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: remove benchmark tests and update dependencies
  .github/workflows/python-ci-with-uv.yml
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov
