Repository johnnymillergh/python-web-service-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
exclude: |
  (?x)^(
      .venv/|
      .sqlite3
  )$^
repos:
  # https://github.com/pre-commit/pre-commit-hooks/releases/tag/v6.0.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [ --fix, auto ]
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: name-tests-test
        args: [ --pytest-test-first ]
      - id: check-case-conflict
  - repo: local
    hooks:
      - id: poetry-check
        name: Poetry Check
        stages: [ pre-commit ]
        language: python
        entry: poetry check
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
      - id: ruff-check-fix
        name: Ruff Check and Fix
        stages: [ pre-commit ]
        language: system
        # Ruff checks and fixes Python code for both /src and /tests directories
        entry: poetry run ruff check
        types: [ python ]
        exclude: |
          (?x)^(
              ^.*/alembic/.*|
              alembic.ini
          )$
        args:
          - "--fix"
      - id: ruff-format
        name: Ruff Format
        stages: [ pre-commit ]
        language: system
        # Ruff checks and fixes Python code for both /src and /tests directories
        entry: poetry run ruff format
        types: [ python ]
        exclude: |
          (?x)^(
              ^.*/alembic/.*|
              alembic.ini
          )$
      - id: mypy
        name: mypy
        stages: [ pre-commit ]
        language: system
        entry: poetry run mypy
        types: [ python ]
        require_serial: true
      - id: pytest
        name: Pytest Unit Tests
        stages: [ pre-commit ]
        language: system
        # https://github.com/pytest-dev/pytest/issues/5502#issuecomment-1020761655
        # Prevent Pytest logging error like: ValueError: I/O operation on closed file.
        entry: env LOG_LEVEL=DEBUG poetry run pytest --cov --cov-report html --html=./build/.pytest_report/report.html --self-contained-html --log-cli-level=DEBUG -n auto --benchmark-disable
        types: [ python ]
        pass_filenames: false
      - id: pytest-cov
        name: Pytest with Coverage
        stages: [ pre-push ]
        language: system
        # https://github.com/pytest-dev/pytest/issues/5502#issuecomment-1020761655
        # Prevent Pytest logging error like: ValueError: I/O operation on closed file.
        entry: env LOG_LEVEL=ERROR poetry run pytest --cov --cov-fail-under=0 --capture=no --log-cli-level=ERROR -n auto
        types: [ python ]
        pass_filenames: false

feat: add pytest fixture for API testing; set the scope httpx TestClient for the whole pytest session
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  tests/test_python_web_service_boilerplate/system/auth/test_router.py
  tests/test_python_web_service_boilerplate/test_main.py
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

test: add new tests for token validation scenarios
  .github/workflows/python-ci-with-poetry.yml
  src/python_web_service_boilerplate/system/auth/service.py
  tests/test_python_web_service_boilerplate/system/auth/test_router.py
  tests/test_python_web_service_boilerplate/system/startup_log/__init__.py
  tests/test_python_web_service_boilerplate/system/startup_log/test_router.py
  tests/test_python_web_service_boilerplate/test_main.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

refactor: move db logic to repository.py
  src/python_web_service_boilerplate/configuration/database_configuration.py
  src/python_web_service_boilerplate/system/auth/repository.py
  src/python_web_service_boilerplate/system/auth/service.py
  tests/conftest.py
  tests/test_python_web_service_boilerplate/system/auth/test_router.py
  tests/test_python_web_service_boilerplate/system/startup_log/test_router.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: add profiling decorators to measure execution time for functions
  src/python_web_service_boilerplate/common/profiling.py
  src/python_web_service_boilerplate/system/auth/service.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: implement context variable for current HTTP request in middleware
  src/python_web_service_boilerplate/common/middleware.py
  src/python_web_service_boilerplate/common/trace.py
  src/python_web_service_boilerplate/system/auth/middleware.py
  src/python_web_service_boilerplate/system/startup_log/service.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: add FastAPI smoke testing job
  .github/workflows/python-ci-with-poetry.yml
Due: none

feat: update FastAPI startup command to include logging level
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: update FastAPI app port from 80 to 8000
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: curl verbose
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: remove slashes
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: curl -v -> -i
  .github/workflows/python-ci-with-poetry.yml
Due: none

fix: update JSON data formatting in curl command
  .github/workflows/python-ci-with-poetry.yml
Due: none

fix: remove unnecessary error handling in FastAPI response check
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: save FastAPI PID to file and add response display step
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: enhance FastAPI startup wait logic with readiness check
  .github/workflows/python-ci-with-poetry.yml
Due: none

feat: add health check endpoint and update readiness check in CI
  .github/workflows/python-ci-with-poetry.yml
  src/python_web_service_boilerplate/__main__.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: enhance health check functionality
  .github/workflows/publish-docker.yml
  Dockerfile
  docker-compose.yml
  src/python_web_service_boilerplate/resources/application.conf
  src/python_web_service_boilerplate/system/auth/service.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: enable health check for db
  docker-compose.yml
Due: none

feat: migrate models to SQLModel
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/python_web_service_boilerplate/__main__.py
  src/python_web_service_boilerplate/alembic/env.py
  src/python_web_service_boilerplate/common/asynchronization.py
  src/python_web_service_boilerplate/configuration/application.py
  src/python_web_service_boilerplate/configuration/apscheduler.py
  src/python_web_service_boilerplate/configuration/database.py
  src/python_web_service_boilerplate/configuration/loguru.py
  src/python_web_service_boilerplate/configuration/thread_pool.py
  src/python_web_service_boilerplate/system/auth/models.py
  src/python_web_service_boilerplate/system/auth/repository.py
  src/python_web_service_boilerplate/system/auth/service.py
  src/python_web_service_boilerplate/system/startup_log/models.py
  src/python_web_service_boilerplate/system/startup_log/repository.py
  tests/test_python_web_service_boilerplate/configuration/test_application_configuration.py
  tests/test_python_web_service_boilerplate/configuration/test_loguru_configuration.py
  tests/test_python_web_service_boilerplate/configuration/test_thread_pool_configuration.py
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: adapt ORM operation to SQLModel
  src/python_web_service_boilerplate/__main__.py
  src/python_web_service_boilerplate/system/startup_log/repository.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

docs: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat: implement JWT scope verification
  pyproject.toml
  src/python_web_service_boilerplate/__main__.py
  src/python_web_service_boilerplate/core/__init__.py
  src/python_web_service_boilerplate/core/auth/__init__.py
  src/python_web_service_boilerplate/core/auth/decorators.py
  src/python_web_service_boilerplate/core/auth/middleware.py
  src/python_web_service_boilerplate/core/auth/models.py
  src/python_web_service_boilerplate/core/auth/repository.py
  src/python_web_service_boilerplate/core/auth/router.py
  src/python_web_service_boilerplate/core/auth/schemas.py
  src/python_web_service_boilerplate/core/auth/service.py
  src/python_web_service_boilerplate/core/common_models.py
  src/python_web_service_boilerplate/core/startup_log/__init__.py
  src/python_web_service_boilerplate/core/startup_log/models.py
  src/python_web_service_boilerplate/core/startup_log/repository.py
  src/python_web_service_boilerplate/core/startup_log/router.py
  src/python_web_service_boilerplate/core/startup_log/schemas.py
  src/python_web_service_boilerplate/core/startup_log/service.py
  src/python_web_service_boilerplate/system/auth/schemas.py
  tests/conftest.py
  tests/test_python_web_service_boilerplate/core/__init__.py
  tests/test_python_web_service_boilerplate/core/auth/__init__.py
  tests/test_python_web_service_boilerplate/core/auth/test_router.py
  tests/test_python_web_service_boilerplate/core/startup_log/__init__.py
  tests/test_python_web_service_boilerplate/core/startup_log/test_router.py
  tests/test_python_web_service_boilerplate/test_main.py
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: update CI configuration to trigger on all tags
  .github/workflows/python-ci-with-poetry.yml
Due: none

refactor: more Pythonic and efficient checking of empty sets
  src/python_web_service_boilerplate/core/auth/decorators.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

feat: enhance profiling decorators to support both sync and async functions
  src/python_web_service_boilerplate/__main__.py
  src/python_web_service_boilerplate/common/profiling.py
  src/python_web_service_boilerplate/common/router_loader.py
  src/python_web_service_boilerplate/core/auth/service.py
  src/python_web_service_boilerplate/core/startup_log/router.py
  tests/test_python_web_service_boilerplate/common/test_profiling.py
Due: ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

build: Update CodeQL workflow to include additional branches
  .github/workflows/codeql.yml
Due: none

build: Update CodeQL workflow to include additional branches (#3)
  .github/workflows/codeql.yml
Due: none

feat: implement JWT scope verification (#2)
  .github/workflows/python-ci-with-poetry.yml
  pyproject.toml
  src/python_web_service_boilerplate/__main__.py
  src/python_web_service_boilerplate/common/profiling.py
  src/python_web_service_boilerplate/common/router_loader.py
  src/python_web_service_boilerplate/core/__init__.py
  src/python_web_service_boilerplate/core/auth/__init__.py
  src/python_web_service_boilerplate/core/auth/decorators.py
  src/python_web_service_boilerplate/core/auth/middleware.py
  src/python_web_service_boilerplate/core/auth/models.py
  src/python_web_service_boilerplate/core/auth/repository.py
  src/python_web_service_boilerplate/core/auth/router.py
  src/python_web_service_boilerplate/core/auth/schemas.py
  src/python_web_service_boilerplate/core/auth/service.py
  src/python_web_service_boilerplate/core/common_models.py
  src/python_web_service_boilerplate/core/startup_log/__init__.py
  src/python_web_service_boilerplate/core/startup_log/models.py
  src/python_web_service_boilerplate/core/startup_log/repository.py
  src/python_web_service_boilerplate/core/startup_log/router.py
  src/python_web_service_boilerplate/core/startup_log/schemas.py
  src/python_web_service_boilerplate/core/startup_log/service.py
  src/python_web_service_boilerplate/system/auth/schemas.py
  tests/conftest.py
  tests/test_python_web_service_boilerplate/common/test_profiling.py
  tests/test_python_web_service_boilerplate/core/__init__.py
  tests/test_python_web_service_boilerplate/core/auth/__init__.py
  tests/test_python_web_service_boilerplate/core/auth/test_router.py
  tests/test_python_web_service_boilerplate/core/startup_log/__init__.py
  tests/test_python_web_service_boilerplate/core/startup_log/test_router.py
  tests/test_python_web_service_boilerplate/test_main.py
Due: poetry-check, ruff-check-fix, ruff-format, mypy, pytest, pytest-cov

docs: update README with badge links and project details
  README.md
Due: none

build: update CI schedules and branch triggers in workflows
  .github/workflows/codeql.yml
  .github/workflows/python-ci-with-poetry.yml
Due: none

feat: add project initialization scripts for Windows and Bash
  .github/workflows/init-project-windows.yml
  init_project.ps1
  init_project.sh
Due: none

docs: aiosqlit -> aiosqlite
  README.md
Due: none

feat: add initialization workflow for Ubuntu
  .github/workflows/init-project-ubuntu.yml
  init_project.sh
Due: none

build: grant script execution before running
  .github/workflows/init-project-ubuntu.yml
Due: none

build: add read permissions
  .github/workflows/init-project-ubuntu.yml
  .github/workflows/init-project-windows.yml
Due: none

build: use latest runner
  .github/workflows/init-project-windows.yml
Due: none

docs: update contributors section
  README.md
Due: none

docs: update README with badge links and project details (#4)
  .github/workflows/codeql.yml
  .github/workflows/init-project-ubuntu.yml
  .github/workflows/init-project-windows.yml
  .github/workflows/python-ci-with-poetry.yml
  README.md
  init_project.ps1
  init_project.sh
Due: none

build: update version to 1.0.0
  pyproject.toml
Due: poetry-check

build: update version to 1.0.0 (#6)
  pyproject.toml
Due: poetry-check
